Mininterior.RusicstMVC.Servicios/Service References/ServiciosSigo/OfertaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://localhost/WcfSIGO/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OfertaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://localhost/WcfSIGO/" location="http://pruebas.unidadvictimas.gov.co/WcfSIGO/OfertaService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pruebas.unidadvictimas.gov.co/WcfSIGO/OfertaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pruebas.unidadvictimas.gov.co/WcfSIGO/OfertaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pruebas.unidadvictimas.gov.co/WcfSIGO/OfertaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIGO.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfertaService_GetEntidadesMapaPorDane_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntidadesMapaPorDane" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetEntidadesMapaPorDane_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntidadesMapaPorDaneResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertasMapaPorFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertasMapaPorFiltro" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetOfertasMapaPorFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfertasMapaPorFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetSeguimientoProgramasCaracterizados_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeguimientoProgramasCaracterizados" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetSeguimientoProgramasCaracterizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeguimientoProgramasCaracterizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetNecesidadesPlaneacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNecesidadesPlaneacion" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetNecesidadesPlaneacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNecesidadesPlaneacionResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetAccesosEfectivosSegumiento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccesosEfectivosSegumiento" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetAccesosEfectivosSegumiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccesosEfectivosSegumientoResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetRemisionPorVictima_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemisionPorVictima" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetRemisionPorVictima_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemisionPorVictimaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetBeneficiosPorVictima_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiosPorVictima" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetBeneficiosPorVictima_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiosPorVictimaResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetProgramasParaPresidencia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramasParaPresidencia" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetProgramasParaPresidencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramasParaPresidenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOfertaService">
    <wsdl:operation name="GetEntidadesMapaPorDane">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetEntidadesMapaPorDane" message="tns:IOfertaService_GetEntidadesMapaPorDane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetEntidadesMapaPorDaneResponse" message="tns:IOfertaService_GetEntidadesMapaPorDane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfertasMapaPorFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetOfertasMapaPorFiltro" message="tns:IOfertaService_GetOfertasMapaPorFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetOfertasMapaPorFiltroResponse" message="tns:IOfertaService_GetOfertasMapaPorFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeguimientoProgramasCaracterizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetSeguimientoProgramasCaracterizados" message="tns:IOfertaService_GetSeguimientoProgramasCaracterizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetSeguimientoProgramasCaracterizadosResponse" message="tns:IOfertaService_GetSeguimientoProgramasCaracterizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNecesidadesPlaneacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetNecesidadesPlaneacion" message="tns:IOfertaService_GetNecesidadesPlaneacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetNecesidadesPlaneacionResponse" message="tns:IOfertaService_GetNecesidadesPlaneacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccesosEfectivosSegumiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetAccesosEfectivosSegumiento" message="tns:IOfertaService_GetAccesosEfectivosSegumiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetAccesosEfectivosSegumientoResponse" message="tns:IOfertaService_GetAccesosEfectivosSegumiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemisionPorVictima">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetRemisionPorVictima" message="tns:IOfertaService_GetRemisionPorVictima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetRemisionPorVictimaResponse" message="tns:IOfertaService_GetRemisionPorVictima_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeneficiosPorVictima">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetBeneficiosPorVictima" message="tns:IOfertaService_GetBeneficiosPorVictima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetBeneficiosPorVictimaResponse" message="tns:IOfertaService_GetBeneficiosPorVictima_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramasParaPresidencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetProgramasParaPresidencia" message="tns:IOfertaService_GetProgramasParaPresidencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetProgramasParaPresidenciaResponse" message="tns:IOfertaService_GetProgramasParaPresidencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OfertaService">
    <wsdl:port name="BasicHttpBinding_IOfertaService" binding="i0:BasicHttpBinding_IOfertaService">
      <soap:address location="http://pruebas.unidadvictimas.gov.co/WcfSIGO/OfertaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>